.list-section {
    margin-top: 20px;

    .list-main {
        // text-align: center;
        width: 100%;
        margin: auto;

        .list-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            border: 1px solid;
            margin-bottom: 30px;
            padding: 15px;

            .list-img {
                width: 40%;
                position: relative;

                img {
                    width: 100%;
                    aspect-ratio: 1.3;
                    transition: 0.4s ease-in-out;
                }

                img:hover {
                    scale: 1.03;
                }
            }

            .list-img::after {
                content: "";
                height: 100%;
                left: 0;
                top: 0;
                width: 0px;
                position: absolute;
                transition: all 0.4s ease-in-out;
                background: rgba(241, 239, 239, 0.3);
            }

            .list-img:hover::after {
                width: 100%;

            }

            .list-info {
                margin-bottom: 40px;
                margin-top: 15px;
                width: 50%;

                .name {
                    margin-bottom: 15px;
                }

                .price {
                    color: blue;
                    margin-bottom: 5px;
                }

                .description {
                    font-size: 14px;
                }

                button {
                    margin-top: 15px;
                }
            }
        }
    }
}